.app_pink_theme {
  --bg-color: #ffffff;
  --inverted-bg-color: #76276c;
  --primary-color: #77166b;
  --secondary-color: #351056;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #eeeaea;
}
